workflows/tiktok-comment-reply.json
{
  "name": "📣 TikTok Comment → Auto Reply",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tiktok",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "22222222-0002-0002-0002-000000000001",
      "name": "TikTok Comment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 300],
      "webhookId": "tiktok-events-post",
      "notes": "TikTok sends POST requests when a new comment is created. Configure this URL in your TikTok Developer App → Webhooks → video.comment.create"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"code\": 0, \"message\": \"ok\" }",
        "options": {
          "responseCode": 200
        }
      },
      "id": "22222222-0002-0002-0002-000000000002",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse TikTok webhook payload for new comment events\n// TikTok sends: video.comment.create events\n\nconst body = $input.first().json.body || {};\n\n// TikTok webhook signature verification\n// TODO: Add HMAC-SHA256 signature check using TIKTOK_WEBHOOK_SECRET env var\n// Header: x-tiktok-signature\n\n// Handle different TikTok webhook payload formats\n// Business API format:\nif (body.event === 'video.comment.create' || body.type === 'comment') {\n  const data = body.data || body;\n\n  return [{\n    json: {\n      valid: true,\n      platform: 'tiktok',\n      commentId: data.comment_id || data.id,\n      commentText: (data.comment_content || data.text || data.message || '').trim(),\n      userId: data.user_openid || data.from_user_id,\n      userName: data.user_nickname || data.username || 'TikTok User',\n      videoId: data.video_id,\n      timestamp: data.create_time || Math.floor(Date.now() / 1000)\n    }\n  }];\n}\n\n// Fallback — unrecognized format\nconsole.warn('[tiktok-parser] Unrecognized webhook payload format:', JSON.stringify(body).substring(0, 200));\nreturn [{ json: { valid: false, reason: 'unrecognized_format', rawBody: body } }];"
      },
      "id": "22222222-0002-0002-0002-000000000003",
      "name": "Parse TikTok Comment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "cond-text",
              "leftValue": "={{ $json.commentText }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "22222222-0002-0002-0002-000000000004",
      "name": "Valid Comment?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "jsCode": "// Match comment text against keyword rules from environment variable\n// Identical matching logic as Instagram — same KEYWORD_RULES env var\n\nconst input = $input.first().json;\nconst commentText = (input.commentText || '').toLowerCase().trim();\nconst platform = input.platform;\n\nlet rules = [];\ntry {\n  rules = JSON.parse(process.env.KEYWORD_RULES || '[]');\n} catch (e) {\n  console.error('[keyword-matcher] Failed to parse KEYWORD_RULES:', e.message);\n  return [{ json: { ...input, hasMatch: false, error: 'rules_parse_error' } }];\n}\n\nconst now = new Date();\nconst staticData = $getWorkflowStaticData('global');\nconst sendCounts = staticData.sendCounts || {};\n\nconst activeRules = rules.filter(rule => {\n  if (!rule.active) return false;\n  if (rule.platform !== platform) return false;\n  if (rule.expires_at && new Date(rule.expires_at) < now) return false;\n  if (rule.max_dm_sends != null && (sendCounts[rule.id] || 0) >= rule.max_dm_sends) return false;\n  return true;\n});\n\nlet matchedRule = null;\nfor (const rule of activeRules) {\n  const keyword = (rule.keyword || '').toLowerCase().trim();\n  const matchType = rule.match_type || 'contains';\n\n  let isMatch = false;\n  switch (matchType) {\n    case 'exact':\n      isMatch = commentText === keyword;\n      break;\n    case 'starts_with':\n      isMatch = commentText.startsWith(keyword);\n      break;\n    case 'word':\n      isMatch = new RegExp('\\\\b' + keyword.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&') + '\\\\b').test(commentText);\n      break;\n    default: // 'contains'\n      isMatch = commentText.includes(keyword);\n  }\n\n  if (isMatch) {\n    matchedRule = rule;\n    break;\n  }\n}\n\nif (!matchedRule) {\n  return [{ json: { ...input, hasMatch: false } }];\n}\n\n// For TikTok: embed the event link directly in the reply text\n// since TikTok DM API is restricted to approved partners\nlet replyText = matchedRule.public_reply || '';\nif (!replyText) {\n  // Fallback: use a shortened version of dm_message as the reply\n  replyText = `${matchedRule.event_link || ''}`;\n}\n\n// Build reply with link\nconst fullReply = replyText + (matchedRule.event_link && !replyText.includes(matchedRule.event_link)\n  ? `\\n${matchedRule.event_link}`\n  : '');\n\nreturn [{ json: { ...input, hasMatch: true, matchedRule, replyText: fullReply } }];"
      },
      "id": "22222222-0002-0002-0002-000000000005",
      "name": "Match Keyword Rule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 220]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-match",
              "leftValue": "={{ $json.hasMatch }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "22222222-0002-0002-0002-000000000006",
      "name": "Keyword Matched?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1280, 220]
    },
    {
      "parameters": {
        "jsCode": "// Check cooldown for TikTok replies\n// Prevents sending the same reply link to the same user multiple times\n\nconst input = $input.first().json;\nconst { userId, matchedRule, platform } = input;\n\nconst staticData = $getWorkflowStaticData('global');\nconst replyHistory = staticData.replyHistory || {};\n\nconst cooldownKey = `${platform}_${userId}_${matchedRule.keyword}`;\nconst cooldownMs = (matchedRule.cooldown_hours || 720) * 60 * 60 * 1000;\nconst now = Date.now();\nconst lastSent = replyHistory[cooldownKey];\n\nconst inCooldown = !!(lastSent && (now - lastSent) < cooldownMs);\n\nreturn [{\n  json: {\n    ...input,\n    shouldReply: !inCooldown,\n    cooldownKey,\n    inCooldown,\n    lastSent: lastSent ? new Date(lastSent).toISOString() : null\n  }\n}];"
      },
      "id": "22222222-0002-0002-0002-000000000007",
      "name": "Check Reply Cooldown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 140]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-reply",
              "leftValue": "={{ $json.shouldReply }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "22222222-0002-0002-0002-000000000008",
      "name": "Should Reply?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1720, 140]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.tiktokapis.com/v2/video/comment/reply/create/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.TIKTOK_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json; charset=UTF-8"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json; charset=UTF-8",
        "body": "={{ JSON.stringify({ video_id: $json.videoId, parent_comment_id: $json.commentId, text: $json.replyText }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "22222222-0002-0002-0002-000000000009",
      "name": "Post Comment Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1940, 60],
      "notes": "TikTok DM API is restricted to approved partners. This node replies PUBLICLY to the comment with the event link. To send private DMs, apply for TikTok Business API partner access."
    },
    {
      "parameters": {
        "jsCode": "// Update analytics and mark reply as sent for cooldown\n\nconst data = $('Check Reply Cooldown').first().json;\nconst { cooldownKey, matchedRule, userId, commentId, commentText, videoId, platform } = data;\n\nconst staticData = $getWorkflowStaticData('global');\nconst now = Date.now();\n\n// Mark reply as sent\nif (!staticData.replyHistory) staticData.replyHistory = {};\nstaticData.replyHistory[cooldownKey] = now;\n\n// Increment send count\nif (!staticData.sendCounts) staticData.sendCounts = {};\nstaticData.sendCounts[matchedRule.id] = (staticData.sendCounts[matchedRule.id] || 0) + 1;\n\n// Analytics\nif (!staticData.analytics) staticData.analytics = {};\nconst analyticsKey = `${platform}_${matchedRule.keyword}`;\n\nif (!staticData.analytics[analyticsKey]) {\n  staticData.analytics[analyticsKey] = {\n    keyword: matchedRule.keyword,\n    platform,\n    eventName: matchedRule.event_name || '',\n    totalSent: 0,\n    firstSent: new Date(now).toISOString(),\n    lastSent: null,\n    recentSends: []\n  };\n}\n\nconst stats = staticData.analytics[analyticsKey];\nstats.totalSent += 1;\nstats.lastSent = new Date(now).toISOString();\nstats.recentSends.unshift({\n  userId,\n  commentId,\n  videoId,\n  commentPreview: (commentText || '').substring(0, 80),\n  sentAt: new Date(now).toISOString()\n});\nstats.recentSends = stats.recentSends.slice(0, 50);\n\nreturn [{\n  json: {\n    success: true,\n    platform,\n    ruleId: matchedRule.id,\n    keyword: matchedRule.keyword,\n    eventName: matchedRule.event_name,\n    userId,\n    commentId,\n    videoId,\n    totalRepliesForKeyword: stats.totalSent,\n    sentAt: new Date(now).toISOString()\n  }\n}];"
      },
      "id": "22222222-0002-0002-0002-000000000010",
      "name": "Update Analytics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 60]
    },
    {
      "parameters": {},
      "id": "22222222-0002-0002-0002-000000000011",
      "name": "Skip - Invalid Comment",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [840, 480]
    },
    {
      "parameters": {},
      "id": "22222222-0002-0002-0002-000000000012",
      "name": "Skip - No Match",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1280, 380]
    },
    {
      "parameters": {},
      "id": "22222222-0002-0002-0002-000000000013",
      "name": "Skip - In Cooldown",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1720, 300]
    }
  ],
  "connections": {
    "TikTok Comment Webhook": {
      "main": [
        [{ "node": "Respond 200 OK", "type": "main", "index": 0 }]
      ]
    },
    "Respond 200 OK": {
      "main": [
        [{ "node": "Parse TikTok Comment", "type": "main", "index": 0 }]
      ]
    },
    "Parse TikTok Comment": {
      "main": [
        [{ "node": "Valid Comment?", "type": "main", "index": 0 }]
      ]
    },
    "Valid Comment?": {
      "main": [
        [{ "node": "Match Keyword Rule", "type": "main", "index": 0 }],
        [{ "node": "Skip - Invalid Comment", "type": "main", "index": 0 }]
      ]
    },
    "Match Keyword Rule": {
      "main": [
        [{ "node": "Keyword Matched?", "type": "main", "index": 0 }]
      ]
    },
    "Keyword Matched?": {
      "main": [
        [{ "node": "Check Reply Cooldown", "type": "main", "index": 0 }],
        [{ "node": "Skip - No Match", "type": "main", "index": 0 }]
      ]
    },
    "Check Reply Cooldown": {
      "main": [
        [{ "node": "Should Reply?", "type": "main", "index": 0 }]
      ]
    },
    "Should Reply?": {
      "main": [
        [{ "node": "Post Comment Reply", "type": "main", "index": 0 }],
        [{ "node": "Skip - In Cooldown", "type": "main", "index": 0 }]
      ]
    },
    "Post Comment Reply": {
      "main": [
        [{ "node": "Update Analytics", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "tiktok-comment-reply",
  "tags": [
    { "id": "tag-comment-to-dm", "name": "comment-to-dm" },
    { "id": "tag-tiktok", "name": "tiktok" }
  ]
}
